


.portadaDetails {
    min-height: 80vh;
    width: 100%;
    background-image: url('../../../public/saul/instalaciones-restaurante-portada_prueba.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portadaDetails > h1 {
    margin-top: 14rem;
    color: aliceblue;
    font-size: 3.5rem;
    font-family: serif;
    font-weight: bold;
}

.portadaDetails > h2 {
    color: aliceblue;
    margin-top: 1.5rem;
    font-size: 3rem;
    font-family: serif;
    font-weight: bold;
    text-align: center;
}

.containerGim {
    width: 40%;
    margin-left: 4rem;
    background-color: rgb(231, 231, 231);
    border-radius: .4rem;
}

.containerGim > h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.containerGim > p {
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: aliceblue;
    font-family: serif;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: .4rem;
}

.containerGim > p >span {
    color: #b69663;
    margin-left: 2rem;
}
.containerGim > p > .cena {
    margin-left: 4.5rem;
}
.descriptionGim {
    width: 90%;
    font-size: 1.5rem;
    font-family: serif;
    margin-bottom: 3rem;
}

.saberMas {
    margin-bottom: 0;
    border-radius: .1rem;
}
