.swiperContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.swiperButtonNext,
.swiperButtonPrev {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  background-color: #b69663; 
  color: white; 
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperButtonNext:hover,
.swiperButtonPrev:hover {
  background-color: #d9af71; 
}

.swiperButtonNext {
  right: -0px; 
}

.swiperButtonPrev {
  left: 0px; 
}

.swiperSlide {
  display: flex;
  justify-content: center;  
  margin: 0px;
  padding:0px;
}
