@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --font-primary: "Cormorant Garamond", serif;
  --font-secondary: "Lora", serif;
}

body {
  font-family: var(--font-secondary);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 700;
}

p {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: #acacac;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

[data-theme="dark"] body {
  background-color: #181818;
  color: #ffffff;
}

/* body { */
/* color: var(--background); */
/* background: var(--foreground);   */
/* color: var(--foreground); */
/* background: var(--background); */
/* color: black; */
/* font-family: Arial, Helvetica, sans-serif; */
/* margin:0; */
/* padding:0; */
/* } */

/* main {
  margin:0;
  padding: 0;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  color: rgb(84, 84, 94);
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: x-large;
  font-weight: 600;
  color: rgb(84, 84, 94);
}

h3 {
  font-size: large;
  font-weight: 400;
  color: rgb(84, 84, 94);
} */

.button {
  margin: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-family: serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #b69663;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #d9af71;
}

/* Estilo CSS adicional */
.highest-zindex {
  z-index: 99999 !important;
  position: relative;
}
